  <div class="box_weather-soon">
  {{#each fiveDaysTemplateData}}
    <div class="five-box">
        <span class="day">{{ this.day }}</span>
        <span class="date-today" data-value="today-date">{{ this.date }}</span>
        <img src="http://openweathermap.org/img/wn/{{this.icon}}@2x.png" alt="" class="box_weather-icon" width="40" height="50">
       
          <span class="temp-min">  {{ this.minTemp }}</span>
          <span class="temp-max">  {{ this.maxTemp}}</span>          
      
        <p class="five-box_weatherType">{{this.weatherType}}</p>
    </div>
  {{/each}}
  </div>