<div class="field">
  <span id="date-today" data-value="today-date">{{mounthDay}}</span>
</div>
<div class="field">
  <span id="day-today" data-value="today-day">{{day}}</span>
</div>
<div class="field">
  <span id="mounth-current" data-value="mounth-current">{{mounth}}</span>
</div>
<div class="field">
  <span id="time-current" data-value="time-current">{{currentTime}}</span>
</div>
<div class="field" >   
  <img class="sun_img" src="https://www.flaticon.com/premium-icon/icons/svg/2524/2524356.svg" alt="">
  <span id="sunrise" data-value="time-sunrise">{{sunrise}}AM</span>
</div>
<div class="field" >  
  <img class="sun_img" src="https://www.flaticon.com/premium-icon/icons/svg/2524/2524357.svg" alt="">  
  <span id="sunset" data-value="time-sunset">{{sunset}}PM</span>
</div>