<div class="field">
  <span id="date-today" data-value="today-date"> {{day}}</span>
</div>
<div class="field">
  <span id="mounth-current" data-value="mounth-current">{{month}} | {{monthDay}}</span>
  <span id="time-current" data-value="time-current">{{currentTime}}</span>
</div>
<div class="field">
  <img class="box_today-icon" src="https://www.flaticon.com/premium-icon/icons/svg/2524/2524356.svg" alt="">
  <span id="sunrise" data-value="time-sunrise">{{sunrise}}</span>
  <img class="box_today-icon" src="https://www.flaticon.com/premium-icon/icons/svg/2524/2524357.svg" alt="">
  <span id="sunset" data-value="time-sunset">{{sunset}}</span>
</div>