<div class="field">
  <span id="date-today" data-value="today-date">{{mounthDay}}</span>
</div>
<div class="field">
  <span id="day-today" data-value="today-day">{{day}}</span>
</div>
<div class="field">
  <span id="mounth-current" data-value="mounth-current">{{mounth}}</span>
</div>
<div class="field">
  <span id="time-current" data-value="time-current">{{currentTime}}</span>
</div>
<div class="field">
  <span id="sunrise" data-value="time-sunrise">{{sys.sunrise}}AM</span>
</div>
<div class="field">
  <span id="sunset" data-value="time-sunset">{{sys.sunset}}PM</span>
</div>